.github-btn {
  width: 96%;
  height: 40px;
  margin-top: 10px;
  border: 0px;
  border-radius: 5px;
  background-color: #2d6952;
  color: #eeeeee;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}