.Auth {
  margin: 0px auto;
  width: 380px;
  height: 400px;
  text-align: center;

  .create-user {
    color: rgb(101, 101, 101);
    padding-right: 10px;
    cursor: pointer;
    text-align: end;
  }
}