.Auth {
  margin: 0px auto;
  width: 350px;
  height: auto;
  margin-bottom: 30px;
  text-align: center;

  .create-user {
    color: rgb(101, 101, 101);
    padding-right: 10px;
    cursor: pointer;
    text-align: end;
  }
}