.Boarddetail {
  margin: 0 auto;
  width: 90%;
  width: 350px;
  height: 500px;

  .board-title {
    margin-top: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
  }

  .board-contents {
    margin-top: 30px;
    font-size: 17px;
    white-space: pre-line;
  }

  .board-delete {
    margin-top: 20px;
    border: 0px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #111111;
    color: #eeeeee;
    text-align: center;
    cursor: pointer;
  }

  .title-input {
    width: 360px;
    height: 30px;
    margin-top: 20px;
    border: 0px;
    border-bottom: 1px solid rgb(190, 189, 189);
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    outline-style: none;
  }

  .contents-area {
    width: 360px;
    height: 300px;
    margin-top: 20px;
    background-color: transparent;
    border: 0;
    font-size: 15px;
    outline-style: none;
    resize: none;
  }

  .update {
    width: 100px;
    padding: 5px 10px;
    border: 0px;
    border-radius: 5px;
    background-color: #111111;
    color: #eeeeee;
    cursor: pointer;
  }

  .delete {
    width: 100px;
    padding: 5px 10px;
    border: 0px;
    border-radius: 5px;
    background-color: #111111;
    color: #eeeeee;
    cursor: pointer;
  }
}